<form>

  <div class="row mt-4">

    <div class="card-group col-md-6">
      <label for="inputName">Name</label>
      <input #name type="text" class="form-control" id="inputName"/>
    </div>

    <div class="card-group col-md-6">
      <label for="inputFamily">Family</label>
      <input #family type="text" class="form-control" id="inputFamily"/>
    </div>

  </div>

  <div class="card-group mt-2">
    <label for="inputAddress">Address</label>
    <input #address type="text" class="form-control" id="inputAddress"/>
  </div>

  <button (click)="onAddUser(name.value,family.value,address.value,$event)"
          type="submit" class="btn btn-primary mt-2">Add
    user
  </button>

</form>
