<app-user [user]="user"></app-user>

<select (change)="onChangeSelect($event)">
  <option *ngFor="let user of users;">{{user.name}} {{user.family}}</option>
</select>


<!--<div *ngFor="let user of users">-->

<!--  <div *ngIf="user.age > 30">-->
<!--    <option [ngValue]="user">{{user.name}} {{user.family}}</option>-->
<!--  </div>-->

<!--</div>-->


<select (change)="onChangeSelect($event)">
  <ng-container *ngFor="let u of users;">

    <ng-container *ngIf="u.age > 30">
      <option [ngValue]="u">{{u.name}} {{u.family}}</option>
    </ng-container>

  </ng-container>
</select>
